*.pyc
*.DS_Store 
data-set
.vscode
.bash_profile
*.icloud
*.swp

\.idea/

extras/

.prettierignore
dump.rdb

celerybeat.pid
celerybeat-schedule
celerybeat-schedule.db

__pycache__

debug.log

logs

*.log

*.sqlite3