.total-amount {
    font-size: 10vh;
}
.product-scanned {
    font-size: 8vh;
}
.receipt {
    width: 500px;
    margin: 25px 0;
    border: 1px dashed;
    padding: 20px;
}
.receipt-action {
    width: 470px;
}
.btn-dashboard {
    width: 150px;
}
.receipt-btn {
    top: 20px;
    left: 20px;
}