.total-amount {
    font-size: 14vh;
}
.product-scanned {
    font-size: 12vh;
}
.receipt {
    width: 500px;
    margin: 25px 0;
    border: 1px dashed;
    padding: 20px;
}
.receipt-action {
    width: 470px;
}
.btn-dashboard {
    width: 150px;
}
.receipt-btn {
    top: 20px;
    left: 20px;
}
.product-scanned-item {
    margin: 18px;
}
.product-scanned-item div:nth-child(1) {
    font-size: 4.2vh;
}
.product-scanned-item div:nth-child(2) {
    font-size: 2.5vh;
}
.product-scanned-item div:nth-child(3) {
    font-size: 2.5vh;
}
.cursor-point {
    cursor: pointer;
}
.cursor-point td {
    padding: unset !important;
}
.react-contextmenu {
    border-radius: 5px !important;
    background: #ebebeb !important;
    padding: 10px 15px !important;
}
.react-contextmenu-wrapper {
    padding: 10px !important;
}
.react-contextmenu-item {
    cursor: pointer;
    padding: 3px 0 !important;
}
.react-contextmenu-item:hover {
    opacity: 0.8 !important;
}